asn1crypto==0.23.0
certifi==2017.11.5
cffi==1.11.2
chardet==3.0.4
cryptography==2.1.3
Flask==0.10.1
Flask-WTF==0.12
idna==2.6
itsdangerous==0.24
Jinja2==2.8
MarkupSafe==0.23
pycparser==2.18
pyOpenSSL==17.3.0
pysolr==3.6.0
python-dateutil==2.6.1
requests==2.18.4
six==1.11.0
urllib3==1.22
watson-developer-cloud==1.0.0
Werkzeug==0.11.4
WTForms==2.1
